{% extends 'base.html.twig' %}

{% block title %}{{ 'page.home.title' | trans }}{% endblock %}

{% block main_container %}

{#<h1>#}
{#    <span class="line">{{ 'page.home.title1' | trans }}</span>#}
{#    <span class="line">{{ 'page.home.title2' | trans }}</span>#}
{#</h1>#}

{#<ul>#}
{#    <li>#}
{#        <a href="{{ path('list_polls_html') }}">#}
{#            {{ 'link.browse_public_polls' | trans }}#}
{#        </a>#}
{#    </li>#}
{#    <li>#}
{#        <a href="{{ path('create_poll_html') }}">#}
{#            {{ 'link.create_new_poll' | trans }}#}
{#        </a>#}
{#    </li>#}
{#</ul>#}

<p class="text-center banner">
    <img src="mv-logo.svg" alt="MieuxVoter" width="128" height="128" style="filter: blur(1px);">
    <br>
    {{ 'page.home.form.banner' | trans }}
</p>

<form action="{{ path('create_poll_html') }}" method="GET" class="form-horizontal">
    <div class="form-group">
        <div class="flex pr-2 flex-grow">
            <input
                    type="text"
                    placeholder="{{ 'page.home.form.placeholder' | trans }}"
                    name="poll[subject]"
                    class="form-input input-lg"
                    autofocus
            >
        </div>
        <div class="flex">
            <input
                    type="submit"
                    class="input-lg btn-lg btn btn-primary"
                    value="🚀 {{ 'page.home.form.submit.label' | trans }}"
            >
        </div>
    </div>
</form>

<p class="text-center">
{# Poll subjects suggestions, directly from messages.yaml #}
{# Should these be in a nav ? #}
{# Should these be in a list ? #}
{% for s in suggestions %}
{#{% for s in suggestions | shuffle %}#}{# still no shuffle filter… #}
    {{ not loop.first ? '&mdash;' : '' }}
    <a href="{{ path('create_poll_html') }}?poll[subject]={{ s | url_encode }}">
        {{ s }}
    </a>
{% endfor %}
    <br>
    <br>
    {{ 'page.home.form.after' | trans }}
</p>

{#{% include "partials/spinner.html.twig" only %}#}

{% endblock %}
