{% extends 'base.html.twig' %}

{% block title %}{{ 'page.home.title' | trans }}{% endblock %}

{% block main_container %}

<h1>
    <span class="line">{{ 'page.home.title1' | trans }}</span>
    <span class="line">{{ 'page.home.title2' | trans }}</span>
</h1>

<ul>
    <li>
        <a href="{{ path('list_polls_html') }}">
            {{ 'link.browse_public_polls' | trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('create_poll_html') }}">
            {{ 'link.create_new_poll' | trans }}
        </a>
    </li>
</ul>

<p class="text-center banner">
    {{ 'page.home.form.banner' | trans }}
</p>

<form action="{{ path('create_poll_html') }}" method="GET" class="form-horizontal">
    <div class="form-group">
        <div class="flex pr-2 flex-grow">
            <input
                    type="text"
                    placeholder="{{ 'page.home.form.placeholder' | trans }}"
                    name="poll[subject]"
                    class="form-input input-lg"
            >
        </div>
        <div class="flex">
            <input
                    type="submit"
                    class="input-lg"
                    value="{{ 'page.home.form.submit.label' | trans }}"
            >
        </div>
    </div>
</form>

{#{% include "partials/spinner.html.twig" only %}#}

{% endblock %}
