{% extends 'base.html.twig' %}

{% block title %}{{ 'page.poll.index.title' | trans }}{% endblock %}

{% block main_container %}

    <h1>{{ 'page.poll.index.title' | trans }}</h1>

{% if polls %}

    <div class="list-group">
{% for poll in polls %}
        {# also supports "active" and "disabled" #}
        <a href="{{ path('read_poll_html', {'pollId':poll.uuid}) }}" class="list-group-item list-group-item-action">
            {{ poll.subject }}
        </a>
{% endfor %}
    </div>

{% else %}
    <p>
        {{ 'page.poll.index.none' | trans }}
    </p>
{% endif %}


{% endblock %}
