{% extends 'base.html.twig' %}

{% block title %}{{ 'page.poll.index.title' | trans }}{% endblock %}

{% block body %}

<h1>{{ 'page.poll.index.title' | trans }}</h1>

{% if polls %}
<ul>
{% for poll in polls %}
    <li>
        <a href="{{ path('read_poll_html', {'pollId':poll.uuid}) }}">
            {{ poll.subject }}
        </a>
    </li>
{% endfor %}
</ul>
{% else %}
<p>
    {{ 'page.poll.index.none' | trans }}
</p>
{% endif %}


{% endblock %}
