{% extends 'base.html.twig' %}

{% block title %}{{ 'page.polls.title' | trans }}{% endblock %}

{% block body %}

<h1>{{ 'page.polls.title' | trans }}</h1>

{% if polls %}
<ul>
{% for poll in polls %}
    <li>
        <a href="/polls/{{ poll.uuid }}.html">
            {{ poll.subject }}
        </a>
    </li>
{% endfor %}
</ul>
{% else %}
<p>
    {{ 'page.polls.none' | trans }}
</p>
{% endif %}


{% endblock %}
