{% extends 'base.html.twig' %}

{% block title %}{{ 'page.poll.index.title' | trans }}{% endblock %}

{% block main_container %}

    <h1>{{ 'page.poll.index.title' | trans }}</h1>

{% if polls %}

    <section>
{% for poll in polls %}

        <a href="{{ path('read_poll_html', {'pollId':poll.uuid}) }}" class="tile">
            <div class="tile-icon text-bold text-much_bigger">
                ⚖
            </div>
            <div class="tile-content">
                <p class="tile-title">
                    {{ poll.subject }}
                </p>
                <p class="tile-subtitle">
                    ? proposals, ? judges, will close on ?  (todo)
                </p>
            </div>
{#            <div class="tile-action">#}
{#                <button class="btn btn-primary">Participate</button>#}
{#            </div>#}
        </a>

{% endfor %}
    </section>

{% else %}
    <p>
        {{ 'page.poll.index.none' | trans }}
    </p>
{% endif %}


{% endblock %}
