{% extends 'base.html.twig' %}

{#

This page has yet to be designed. (and then made)

Ideas
-----

- Graphs : Merit Profile
- Graphs : Opinion "Profile" (a better word, anyone?)
- More Graphs
- Interact with Graphs : filters
-


#}

{% block title %}{{ 'page.result.title' | trans({'subject': poll.subject}) }}{% endblock %}

{% block opengraph %}
{{ pollOpenGraph | raw }}
{% endblock %}

{% block main_container %}

    {# XSS: it's OK to use raw here, since trans escapes vars for us #}
    <h2>{{ 'page.result.title' | trans({'subject': (poll.subject)}) | raw }}</h2>

    <div class="container">

{% for proposalIndex, proposalResult in result.leaderboard %}
        <details class="proposal-result">
            <summary>
                <h3 title="{{ 'page.result.rank' | trans({'rank': proposalResult.rank}) }}">
                    <span aria-label="{{ 'page.result.rank' | trans({'rank': proposalResult.rank}) }}">
                    {# TBD: pertinence of emotes in tts (need someone using them) #}
                    {%- if 1 == proposalResult.rank -%}
                        &#129351;
                    {%- elseif 2 == proposalResult.rank -%}
                        &#129352;
                    {%- elseif 3 == proposalResult.rank -%}
                        &#129353;
                    {%- else -%}
                        &#127941;
                    {%- endif -%}
                    </span>
                    {{ proposalResult.proposal.title }}
                </h3>

                {% include 'partials/single_merit_profile.htm.twig' with {
                    proposalResult: proposalResult,
                    grades: grades,
                    palette: palette,
                } only %}

            </summary>
            <div>

                <p>
                    Rank: {{ proposalResult.rank }}
                    <br>
                    Majority Grade: {{ grades['/grades/'~proposalResult.median_grade.uuid].name }}
                    <br>
{# Can perhaps use loop.first with filter instead #}
{#{% for gradeResult in proposalResult.gradesResults if gradeResult.tally > 0 %}#}
{% set firstInGradesLoop = true %}
{% for gradeResult in proposalResult.gradesResults %}
{%- if gradeResult.tally > 0 -%}
                    {{ firstInGradesLoop ? '' : ', ' -}}
                    {{ gradeResult.tally }} {{ grades[gradeResult.grade].name }}
{%- if firstInGradesLoop %}{% set firstInGradesLoop = false %}{% endif -%}
{%- endif -%}
{% endfor %}

                </p>
            </div>
        </details>
{% endfor %}


        <section class="row row-cols-1">
            <h2>{{ 'page.result.summary.title' | trans }}</h2>
            <p>
                A total of __ judgments were cast by __ participants.  (todo upstream)
                {# … waiting for upstream to provide the analysis data #}
{#    A total of {{ result.analysis.amountOfJudgments }} judgments were cast by {{ result.amountOfParticipants }} participants.#}
            </p>
        </section>

        <section class="row row-cols-1">
            <h2>
                {{ 'page.result.analysis.title' | trans }}
            </h2>
            {# raw: Trusting Miprem (did a review) #}
            {{ meritProfileSvg | raw }}
        </section>

        <hr>

        <section class="row row-cols-1">
{#            <h2>#}
{#                {{ 'page.result.navigation.title' | trans }}#}
{#            </h2>#}
            <p>
                {% set urlToPoll = url('read_poll_html', {'pollId': poll.uuid}) %}
                <a href="{{ urlToPoll }}" class="btn btn-lg btn-primary input-group-btn">
                    {{ 'button.back_to_poll' | trans }}
                </a>
            </p>
        </section>

    </div>

{% endblock %}
