{% extends 'base.html.twig' %}

{% block title %}{{ 'page.result.title' | trans({'subject': poll.subject}) }}{% endblock %}

{% block main_container %}

    <h2>{{ 'page.result.title' | trans({'subject': poll.subject}) }}</h2>

    <div class="container">

{% for proposalResult in result.leaderboard %}
        <div class="row">
            <div class="flex-row mr-2">
                <h3 title="{{ 'page.result.rank' | trans({'rank': proposalResult.rank}) }}">
                    <span aria-label="{{ 'page.result.rank' | trans({'rank': proposalResult.rank}) }}">
                    {% if 1 == proposalResult.rank -%}
                        &#129351;
                    {%- elseif 2 == proposalResult.rank -%}
                        &#129352;
                    {%- elseif 3 == proposalResult.rank -%}
                        &#129353;
                    {%- else -%}
                        &#127941;
                    {%- endif %}
                    </span>
                    {{ proposalResult.proposal.title }}
                </h3>
            </div>
            <div class="flex-grow">
                <span>
{% for gradeResult in proposalResult.gradesResults %}
                    {{ grades[gradeResult.grade].name }} : {{ gradeResult.tally }}
                    {{- loop.last ? '' : ',' }}
{% endfor %}
                </span>
            </div>
        </div>
{% endfor %}

        <section class="row row-cols-1">
            <h2>
                {{ 'page.result.summary.title' | trans }}
            </h2>
            <p>
                A total of ? judgments were cast by ? participants.
            </p>
        </section>

    </div>
{#<p>#}
{#    A total of {{ result.tally }} judgments were cast by {{ result.participants }} participants.#}
{#</p>#}

{% endblock %}
