{% extends 'base.html.twig' %}

{% block title %}{{ poll.subject }} &mdash; {{ 'page.ballot.aftermath.title' | trans }}{% endblock %}

{# Disable global flash messaages, we're adding our own #}
{% block flash_messages %}{% endblock %}

{% block main_container %}

{% set urlToResults = url('read_result_html', {'resultId': poll.uuid}) %}
{% set urlToPoll = url('read_poll_html', {'pollId': poll.uuid}) %}


{% include "partials/flash_messages.html.twig" only %}
    <h2>
        <span class="unicon unicon-success">✔</span>
        {{ 'page.ballot.aftermath.success' | trans }}
    </h2>

    <br>

    <nav>

        <div class="input-group with-aligned-buttons">
            <a href="{{ urlToResults }}" class="btn btn-primary btn-lg input-group-btn">
                {{ 'button.view_results' | trans }}
            </a>
            <input type="text" class="input-lg form-input form-control ml-2 monospace" id="results_link" value="{{ urlToResults }}" name="results_link">
        </div>

        <br>

        <div class="input-group with-aligned-buttons">
            <a href="{{ urlToPoll }}" class="btn btn-lg btn-primary input-group-btn">
                {{ 'button.back_to_poll' | trans }}
            </a>
            <input type="text" class="input-lg form-input form-control ml-2 monospace" id="poll_link" value="{{ urlToPoll }}" name="poll_link">
        </div>

    </nav>

{% endblock %}
