<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}{{ 'meta.title' }}{% endblock %}</title>

        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-152x152.png" />
        <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196" />
        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="/favicon-128x128.png" sizes="128x128" />
        <meta name="application-name" content="&nbsp;"/>
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="/mstile-144x144.png" />
        <meta name="msapplication-square70x70logo" content="/mstile-70x70.png" />
        <meta name="msapplication-square150x150logo" content="/mstile-150x150.png" />
        <meta name="msapplication-wide310x150logo" content="/mstile-310x150.png" />
        <meta name="msapplication-square310x310logo" content="/mstile-310x310.png" />
        
{% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block stylesheets_extra %}{% endblock %}
    </head>
    <body>
{% block body %}

{% block header %}
    <header>
        <div class="row pl-1 pr-1 align-items-center">

            <nav class="flex-grow-1">
                <a href="{{ path('home') }}"
                    class="btn btn-outline-secondary"
                    aria-label="{{ 'action.home.label' | trans }}"
                    title="{{ 'action.home.title' | trans }}">
                    &#127968;
                </a>
            </nav>

            <nav class="flex-grow-1 text-right">
{#{% if app.user %}#}
{% if is_user_logged() %}
                <span>
{#                    {{ 'nav.auth.logged_in_as.label' | trans({ 'user': msgphp_user.current }) }}#}
                    {{ 'nav.auth.logged_in_as.label' | trans({ 'user': get_user() }) }}
                    <a href="{{ path('logout') }}">
                    ({{ 'nav.auth.logout.label' | trans }})
                    </a>
                </span>
{% else %}
                <a href="{{ path('login_html', {'redirect': app.request.requesturi}) }}"
                    class="btn btn-danger"
                    title="{{ 'action.login.title' | trans }}">
                    {{ 'action.login.label' | trans }}
                </a>
{% endif %}
            </nav>

        </div>
    </header>
{% endblock %}

{% block flash_messages %}
{% include "partials/flash_messages.html.twig" only %}
{% endblock %}

{% block main_container_wrapper %}
    <div class="content container">
{% block main_container %}{% endblock %}
    </div>
{% endblock %}{# body #}

{% endblock %}

{% block footer %}
    <footer>
        <div class="row justify-content-evenly align-items-center">
            <div class="flex-row text-center">
                <a href="https://mieuxvoter.fr">MieuxVoter</a>
                &copy; 2020
                </div>
            <div class="flex-row text-center">
                <span class="version" title="Version number of the software. Come back here later for a link to the source code!">
                    v{{ shivas_app_version }} (beta)
                </span>
                <br>
                <span class="license">
                    AGPL-3.0-or-later
                </span>
            </div>
        </div>
    </footer>
{% endblock %}
{% block javascripts %}{% endblock %}
    </body>
</html>
