{% extends 'base.html.twig' %}

{# See ClaimUserController #}

{% block title %}{{ 'page.claim.title' | trans({'user': app.user}) }}{% endblock %}

{% block main_container %}

{#    <h1>{{ 'page.claim.title' | trans }}</h1>#}

    <h1>{{ 'page.claim.title' | trans({'user': app.user}) }}</h1>

    <p>{{ 'page.claim.rationale' | trans }}</p>

    <section>

{{ form(claim_form) }}

{# Detailed way, we'll need that later #}
{#{{ form_start(claim_form) }}#}
{#        {{ form_errors(claim_form) }}#}

{#        {{ form_row(claim_form.username) }}#}
{#        {{ form_row(claim_form.email) }}#}
{#        {{ form_row(claim_form.password) }}#}
{#        {{ form_row(claim_form.password_confirm) }}#}
{#        {{ form_row(claim_form.cookie_consent) }}#}
{#        {{ form_row(claim_form.eula_agreement) }}#}

{#        {{ form_row(claim_form.save) }}#}
{#{{ form_end(claim_form) }}#}

    </section>
{% endblock %}
