{% extends 'base.html.twig' %}

{% block main_container %}
    <h1>{{ 'title.forgot_password'|trans }}</h1>

    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.email) }}

        <div>
            <input type="submit" value="{{ 'action.request_password'|trans }}" />
        </div>
    {{ form_end(form) }}
{% endblock %}
