{% extends 'base.html.twig' %}

{% block main_container %}
        <h1>{{ 'title.login'|trans }}</h1>

{% if error %}
        <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
{% endif %}

    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}

        <div>
            <input type="submit" value="{{ 'action.login'|trans }}" />
            <p><a href="{{ url('forgot_password') }}">{{ 'action.forgot_password'|trans }}</a></p>
        </div>
    {{ form_end(form) }}
{% endblock %}
