{% extends 'base.html.twig' %}

{% block main_container %}
        <h1>{{ 'page.login.title' | trans }}</h1>

        <p>{{ 'page.login.rationale' | trans }}</p>

{% if error %}
        <p class="alert alert-error">{{ error.messageKey | trans(error.messageData) }}</p>
{% endif %}

        {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.username) }}
            {{ form_row(form.password) }}

            <div class="float-right">
                <input type="submit" class="btn btn-primary" value="{{ 'action.login.label' | trans }}" />
            </div>

            <p>
                <a href="{{ path('forgot_password') }}">
                    {{ 'action.forgot_password.label' | trans }}
                </a>
            </p>
        {{ form_end(form) }}

        <hr class="clearfix">

        <div class="text-center">

            <h2>{{ 'page.login.register_title' | trans }}</h2>
            <p>{{ 'page.login.register_disclaimer' | trans }}</p>

            <a href="{% if redirect %}{{ path('register', {'redirect': redirect}) }}{% else %}{{ path('register') }}{% endif %}" class="btn btn-primary">
                {{ 'action.register.label' | trans }}
            </a>

            <a
                    href="{% if redirect %}{{ path('quick_register', {'redirect': redirect}) }}{% else %}{{ path('quick_register') }}{% endif %}" class="btn btn-primary"
                    title="{{ 'action.quick_register.title' | trans }}"
            >
                {{ 'action.quick_register.label' | trans }}
            </a>

{#            <br><br><br><br>#}

{#            {% include "partials/spinner.html.twig" only %}#}

        </div>
{% endblock %}
