{% extends 'base.html.twig' %}

{% block main_container %}
        <h1>{{ 'page.login.title' | trans }}</h1>

        <p>
            {{ 'page.login.rationale' | trans }}
        </p>

{% if error %}
        <p class="alert alert-error">{{ error.messageKey | trans(error.messageData) }}</p>
{% endif %}

        {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.username) }}
            {{ form_row(form.password) }}

            <div class="float-right">
                <input type="submit" class="btn btn-primary" value="{{ 'action.login.label' | trans }}" />
            </div>

            <p>
                <a href="{{ path('forgot_password') }}">
                    {{ 'action.forgot_password.label' | trans }}
                </a>
            </p>
        {{ form_end(form) }}

        <hr class="clearfix">

        <div class="text-center">

            <p>
                {{ 'page.login.may_also_register' | trans }}
            </p>

            <a href="{{ path('register') }}" class="btn btn-primary">
                {{ 'action.register.label' | trans }}
            </a>

            <br><br><br><br>

            {% include "partials/spinner.html.twig" only %}

        </div>
{% endblock %}
