{% extends 'base.html.twig' %}

{% block main_container %}
    <h1>{{ 'title.my_profile'|trans }}</h1>

    <h2>{{ 'title.change_username'|trans }}</h2>
    {{ form_start(username_form) }}
        {{ form_errors(username_form) }}
        {{ form_row(username_form.email) }}

        <div>
            <input type="submit" value="{{ 'action.change'|trans }}" />
        </div>
    {{ form_end(username_form) }}

    <h2>{{ 'title.change_password'|trans }}</h2>
    {{ form_start(password_form) }}
        {{ form_errors(password_form) }}
        {{ form_row(password_form.current) }}
        {{ form_row(password_form.password) }}

        <div>
            <input type="submit" value="{{ 'action.change'|trans }}" />
        </div>
    {{ form_end(password_form) }}
{% endblock %}
